platforms/android/assets/www
platforms/browser/www/
platforms/ios/www/
platforms/amazon-fireos/www/
platforms/blackberry10/www/
platforms/firefoxos/www/
platforms/ios/www/
platforms/osx/www/
platforms/webos/www/
