<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="{{ site.path }}/stylesheets/presentation/reveal.css">
		<link rel="stylesheet" href="{{ site.path }}/stylesheets/presentation/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="stylesheets/presentation/lib/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '{{ site.path }}/stylesheets/presentation/print/pdf.css' : '{{ site.path }}/stylesheets/presentation/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>TeamJedi</section>
				<section data-markdown>
					<script type="text/template">
						## TeamJedi

						[https://teamjedi.github.io](https://teamjedi.github.io)
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Team Jedi

						* Ian Blenke - Driving force
						* Nung Bedell - 3d and fabbing
						* Chuck Begian - IPFS and WebRTC
						* Mike Turtora - Geolocation and Mapping
						* Pierre Kircher - Gadgets and chipsets
						* Nathan Blenke - Javascript and Design
						* Jeremy White - Moral Support
					</script>
				</section>
				<section><img src="/images/presentation/Jedi Box Assy v7.png"></section>
				<section><img src="/images/presentation/Jedi Box Electronics.png"/></section>
				<section><img src="/images/presentation/Jedi Box.png"/></section>
				<section><img src="/images/presentation/Jedi Lid.png"/></section>
				<section><img src="/images/presentation/standing.png"/></section>
			       	<section><img src="/images/presentation/inside_pokeball.jpg"/></section>
				<section><img src="/images/presentation/laying.jpg"/></section>
				<section><img src="/images/presentation/catch_em_all.jpg"/></section>
				<section><img src="/images/presentation/finished.jpg"/></section>
				<section data-markdown>
					<script type="text/template">
						## Mesh Research

						* Android's Wifi Direct requires leader - this is not a mesh.
						* Linux 802.11s requires SoftMAC, Android uses FullMAC
						* OLPC's HWMP/AODV/802.11s approach is driver specific
						* Mitre's SPAN used MANET/OLSR on pre-Android 5 devices
						  * olsrd does the heavy lifting we need for dynamic mesh
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## SDR Research

						* LimeSDR is ideal, not shipping yet.
						* RTL-SDR only receives.
						* HackRF is half-duplex, also big.
						* BladeRF is full-duplex, and big.
						* Ettus B2x0 is full-duplex, and huge.
						* YARD Stick One is half-duplex, small, and cheap.
						  * So we'll use two!
						  * Limited to sub-1Ghz though
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Challenges

						* Android Ad-Hoc support requires custom device kernels
						* Running olsrd requires a rooted Android device
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Discovery

						* PI Zero has an ethernet gadget mode that allows it to act like a standard USB ethernet device
						* A PI Zero USB HAT allows multiple USB devices for wifi uplinks and SDR radios
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Design

						* COTS components
						* Moble Ad-hoc NETwork (MANET)
						  * Optimized Link State Routing protocol (OLSR)
						* P2P InterPlanetary File System (IPFS)
						* WebRTC Secure Real Time Protocol (SRTP)
					</script>
				</section>
				<section data-markdown>
					<script type="text/template">
						## Approach

						* PI Zero
						* ethernet gadget (g_ether) USB tethered connection
						* LiPO battery to act like a USB battery pack
						* USB HAT for flexible USB device configuration
							* USB Wifi dongle for 802.11a/b/g/n mesh
								* 2 x YARD Stick One
								* Many other USB devices possible
					</script>
				</section>
				<section>
					<p class="fragment grow"><p class="fragment shrink">github.com/TeamJedi/TeamJedi.github.io/</p></p>
					<p class="fragment fade-in">Research</p>
					<p class="fragment fade-in">Plan</p>
					<p class="fragment fade-in">This presentation!</p>
					<p class="fragment fade-in">Future documentation...</p>
				</section>
				<section>
					<p class="fragment grow"><p class="fragment shrink">github.com/TeamJedi/jedi-pi/</p></p>
					<p class="fragment fade-in">Update micro-SD cards for Raspberry PI zero<p>
					<p class="fragment fade-in">3d Design files for Jedi PI assembly</p>
				</section>
				<section>
					<p class="fragment grow"><p class="fragment shrink">github.com/TeamJedi/JediChat/</p></p>
					<p class="fragment fade-in">Android Ionic2 Cordova Crosswalk WebRTC chat app<p>
					<p class="fragment fade-in">Automated <a href="https://travis-ci.org/TeamJedi/JediChat/builds">travis-ci.org builds</a><p>
				</section>
				<section>
					<p class="fragment grow"><p class="fragment shrink">github.com/TeamJedi/JediRouter/</p></p>
					<p class="fragment fade-in">Android ipfs service app</p>
					<p class="fragment fade-in">Automated <a href="https://travis-ci.org/TeamJedi/JediRouter/builds">travis-ci.org builds</a><p>
				</section>
				<section>
					<p class="fragment grow"><p class="fragment shrink">github.com/TeamJedi/JediMap/</p></p>
					<p class="fragment fade-in">Android Ionic2 Cordova Mapping app<p>
					<p class="fragment fade-in">Automated <a href="https://travis-ci.org/TeamJedi/JediMap/builds">travis-ci.org builds</a><p>
				</section>
				<section>
					<p class="fragment grow"><p class="fragment shrink">github.com/TeamJedi/tinc-1.1-arm</p></p>
					<p class="fragment fade-in">tinc 1.1 mesh vpn port to Rasbian<p>
					<p class="fragment fade-in">Future use as overlay vpn mesh<p>
				</section>
				<section>
					<p class="fragment grow"><p class="fragment shrink">github.com/TeamJedi/termux-packages</p></p>
					<p class="fragment fade-in">Commandline shell on newer Android devices</p>
					<p class="fragment fade-in">Contributed PR to add olsrd<p>
				</section>
				<section data-markdown>
					<script type="text/template">
						## The End?...

						The Jedi PI is inexpensive.
						Hurricanes aside, we plan on using these.
						Development _will_ continue.

						Join the Team!
					</script>
				</section>
			</div>
		</div>

		<script src="{{ site.path }}/javascripts/presentation/lib/head.min.js"></script>
		<script src="{{ site.path }}/javascripts/presentation/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: '{{ site.path }}/javascripts/presentation/plugins/markdown/marked.js' },
					{ src: '{{ site.path }}/javascripts/presentation/plugins/markdown/markdown.js' },
					{ src: '{{ site.path }}/javascripts/presentation/plugins/notes/notes.js', async: true },
					{ src: '{{ site.path }}/javascripts/presentation/plugins/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
